DSN_UI/DSN_UI/Connected Services/ServiceReference2/LaunchVehicle.Dto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LaunchVehicle.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LaunchVehicle.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TelemetryDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altitude" type="xs:int" />
      <xs:element minOccurs="0" name="Latitude" type="xs:int" />
      <xs:element minOccurs="0" name="Longitude" type="xs:int" />
      <xs:element minOccurs="0" name="Temperature" type="xs:int" />
      <xs:element minOccurs="0" name="TimeToOrbit" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TelemetryDto" nillable="true" type="tns:TelemetryDto" />
</xs:schema>