DSN_UI/DSN_UI/Connected Services/ServiceReference2/LaunchVehicle.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LaunchVehicle.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LaunchVehicle.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLaunchVehicleDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LaunchVehicleDto" nillable="true" type="tns:LaunchVehicleDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLaunchVehicleDto" nillable="true" type="tns:ArrayOfLaunchVehicleDto" />
  <xs:complexType name="LaunchVehicleDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsDeployed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrbitInfo" type="xs:int" />
      <xs:element minOccurs="0" name="PayLoad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShouldDeploy" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowTelemetry" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LaunchVehicleDto" nillable="true" type="tns:LaunchVehicleDto" />
</xs:schema>