LaunchVehicle/LaunchVehicleHost/Connected Services/Payload/Payload.Dto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Payload.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Payload.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Payload.Enum" />
  <xs:complexType name="ArrayOfPayloadDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PayloadDto" nillable="true" type="tns:PayloadDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayloadDto" nillable="true" type="tns:ArrayOfPayloadDto" />
  <xs:complexType name="PayloadDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowData" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowTelemetry" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Payload.Enum" minOccurs="0" name="payloadType" type="q1:PayloadType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PayloadDto" nillable="true" type="tns:PayloadDto" />
  <xs:complexType name="TelemetryDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altitude" type="xs:int" />
      <xs:element minOccurs="0" name="Latitude" type="xs:int" />
      <xs:element minOccurs="0" name="Longitude" type="xs:int" />
      <xs:element minOccurs="0" name="Temperature" type="xs:int" />
      <xs:element minOccurs="0" name="TimeToOrbit" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TelemetryDto" nillable="true" type="tns:TelemetryDto" />
</xs:schema>